.register {
  width: 100%;
  background: #12141d;
  height: 100vh;
  position: relative;
  color: var(--white-text);
}
.register .background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register .background img {
  width: 850px;
}
.register .form-register {
  position: absolute;
  width: 450px;
  min-height: 450px;
  border-radius: 10px;
  background: #1d1a3c;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register .form-register h1 {
  text-align: center;
  padding: 20px 0 10px 0;
  text-transform: uppercase;
  color: var (--white-text);
}

.register .form-register .input-log label {
  display: block;
  padding-left: 45px;
  font-size: 15px;
}
.register .form-register .input-log input {
  width: 80%;
  display: block;
  margin: 10px auto;
  height: 35px;
  border-radius: 10px;
  color: var(--white-text);
  /* color: var(--black); */
  background: transparent;
  border: 1px solid #fff;
  padding: 0 10px;
}
.register .form-register .input-log input:focus {
  border: 1px solid #01939c;
}
.register .form-register .input-log button {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 5px 0;
  border-radius: 10px;
  border: var(--button-border);
  background-color: transparent;
  color: var(--text-opacity);
  font-size: 18px;
}
.register .form-register .input-log button:hover {
  cursor: pointer;
  border: var(--button-hover);
  color: var(--white-text);
}
.register .form-register .input-log .error {
  padding: 6px 0 6px 45px;
  color: var(--text-opacity);
  font-size: 15px;
  color: #ff0060;
}
.register .form-register .function-log {
  width: 80%;
  margin: 0 auto;
}
.register .form-register .function-log h3 {
  margin: 10px 0;
  text-align: center;
  color: #01939c;
}
